body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  font-weight: lighter;
}

table, td, th {
  border: 1px black solid;
  border-collapse: collapse;
}

td, th {
  padding: 5px 15px;
}

table {
  text-align: left;
}

p.info-paragraph {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.table-container {
  position: relative;
  display: flex;
  justify-content: center;
}

#logo {
  width: 100px;
  display: block;
  margin: auto;
}

section.city-section {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
}

section.city-section>aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img.city-foto {
  width: 50%;
  min-width: 300px;
}

img.plane {
  width: 60%;
}

ul.passengers-list {
  width: 50%;
  margin: auto;
}

ul.passengers-list>li {
  text-align: left;
}

dl.airplane-description-list {
  width: 40%;
  margin: auto;
}

dl.airplane-description-list>dt {
  text-align: left;
}

dl.airplane-description-list>dd {
  margin-top: -20px;
  text-align: right;
}

footer.main-footer {
  background-color: aliceblue;
  color: green;
  font-family: sans-serif;
  font-size: 30px;
  width: 50%;
  margin: 20px auto;
}