body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header.page-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 67px;
  background-color: #18191a;
  color: #7d7f87;
}

header.page-header>h1 {
  margin: 0;
}

div.page-container {
  display: flex;
  justify-content: space-between;
}

aside.menu {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  width: 20%;
  padding-left: 5px;
  background-color: #1c1e21;
  color: rgb(138, 141, 145);
}

aside.menu ul {
  list-style: none;
  padding-inline-start: 10px;
}

aside.menu a:visited,
aside.menu a:link {
  color: rgb(228, 230, 235);
  text-decoration: none;
  text-transform: uppercase;
}

aside.problems {
  width: 20%;
  text-align: left;
  background-color: mediumaquamarine;
}

aside.problems>h1 {
  font-size: 30px;
  margin: 5px;
}

aside.problems>ul {
  padding-inline-start: 0;
  list-style: none;
}

aside.problems>ul>li {
  padding: 5px;
}

li.canceled-flight {
  background-color: lightcoral;
}

li.big-delay-flight {
  background-color: sandybrown;
}

li.small-delay-flight {
  background-color: lightyellow;
}

main.main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 67px);
  justify-content: space-between;
}

p {
  margin: 5% 10%;
  text-align: left;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

th {
  font-weight: lighter;
}

table,
td,
th {
  border: 1px black solid;
  border-collapse: collapse;
}

td,
th {
  padding: 5px 15px;
}

table {
  text-align: left;
  margin: 10px auto;
}

p.info-paragraph {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.table-container {
  position: relative;
  display: flex;
  justify-content: center;
}

#logo {
  width: 100px;
  display: block;
  margin: auto;
}

section.city-section {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
}

section.city-section>aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img.city-foto {
  width: 50%;
  min-width: 300px;
}

img.plane {
  width: 60%;
}

ul.passengers-list {
  width: 50%;
  margin: auto;
}

ul.passengers-list>li {
  text-align: left;
}

dl.airplane-description-list {
  width: 40%;
  margin: auto;
}

dl.airplane-description-list>dt {
  text-align: left;
}

dl.airplane-description-list>dd {
  margin-top: -20px;
  text-align: right;
}

footer.main-footer {
  background-color: aliceblue;
  color: green;
  font-family: sans-serif;
  font-size: 30px;
  width: 100%;
  margin: 20px 0px 0px 0xp;
  padding: 5px 0px;
}

section.flight-reservation {
  padding: 0% 10%;
  text-align: center;
  margin: 20px;
}

section.flight-reservation div {
  margin: 10px;
}

section.flight-reservation select,
section.flight-reservation input {
  width: 50%;
}

section.flight-reservation input[type=submit],
section.flight-reservation input[type=reset] {
  align-self: flex-end;
  width: 80px;
}

section.flight-reservation label {
  width: 20%;
  display: inline-block;
  text-align: right;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  body {
    font-size: 12px;
  }
  div.page-container {
    flex-direction: column;
  }
  aside.menu {
    text-align: left;
    width: 100%;
    padding-left: 0px;
  }
  aside.menu h1 {
    display: none;
  }
  aside.menu ul {
    list-style: none;
    padding-inline-start: 0px;
  }
  aside.menu li {
    display: inline-block;
    padding: 2px;
  }
  aside.menu a:visited,
  aside.menu a:link {
    color: rgb(228, 230, 235);
    text-decoration: none;
    text-transform: uppercase;
  }
  main.main-content {
    width: 100%;
  }
  section.flight-reservation {
    padding: 0px;
  }
  aside.problems {
    width: 100%;
    ;
  }
  img.city-foto {
    display: none;
  }
  ul.passengers-list {
    width: 80%;
  }
  img.plane {
    width: 80%;
  }
  dl.airplane-description-list>dd {
    margin-top: -15px;
  }
}
