body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header.page-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 67px;
  background-color: #18191a;
  color: #7d7f87;
}

header.page-header>h1 {
  margin: 0;
}

div.page-container {
  display: grid;
  grid-template-columns: 200px 15px calc(75% - 172.5px) 15px calc(25% - 57.5px);
  grid-template-rows: auto;
  grid-template-areas: "menu . main . problems" "footer footer footer footer footer";
}

aside.menu {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  padding: 5px;
  background-color: #1c1e21;
  color: rgb(138, 141, 145);
  box-sizing: border-box;
  grid-area: menu;
}

aside.menu ul {
  list-style: none;
  padding-inline-start: 10px;
}

aside.menu a:visited,
aside.menu a:link {
  color: rgb(228, 230, 235);
  text-decoration: none;
  text-transform: uppercase;
}

aside.problems {
  grid-area: problems;
  width: 100%;
  text-align: left;
  background-color: mediumaquamarine;
}

aside.problems>h1 {
  font-size: 30px;
  margin: 5px;
}

aside.problems>ul {
  padding-inline-start: 0;
  list-style: none;
}

aside.problems>ul>li {
  padding: 5px;
}

li.canceled-flight {
  background-color: lightcoral;
}

li.big-delay-flight {
  background-color: sandybrown;
}

li.small-delay-flight {
  background-color: lightyellow;
}

main.main-content {
  grid-area: main;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 111px);
  justify-content: space-between;
}

p {
  margin: 5% 10%;
  text-align: left;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

th {
  font-weight: lighter;
}

table,
td,
th {
  border: 1px black solid;
  border-collapse: collapse;
}

td,
th {
  padding: 5px 15px;
}

table {
  text-align: left;
  margin: 10px auto;
}

p.info-paragraph {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.table-container {
  position: relative;
  display: flex;
  justify-content: center;
}

#logo {
  width: 100px;
  display: block;
  margin: auto;
}

section.city-section {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  flex-direction: column;
}

section.city-section>div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

div.flight-info {
  width: 50%;
}

img.city-photo {
  width: 50%;
  min-width: 300px;
}

img.plane {
  width: 60%;
}

ul.passengers-list {
  width: 50%;
  margin: auto;
  list-style: none;
}

ul.passengers-list>li {
  text-align: left;
  padding: 2px;
  position: relative;
}

ul.passengers-list>li:nth-child(even) {
  background-color: #eeeeee;
}

ul.passengers-list>li:nth-child(odd) {
  background-color: #cccccc;
}

ul.passengers-list>li:hover>span {
  display: inline;
}

span.passenger-popup {
  display: none;
  background-color: black;
  color: white;
  width: 100px;
  z-index: 1;
  position: absolute;
  left: 150px;
  top: 15px;
}

dl.airplane-description-list {
  width: 40%;
  margin: auto;
}

dl.airplane-description-list>dt {
  text-align: left;
}

dl.airplane-description-list>dd {
  margin-top: -20px;
  text-align: right;
}

footer.main-footer {
  grid-area: footer;
  background-color: aliceblue;
  color: green;
  font-family: sans-serif;
  font-size: 30px;
  width: 100%;
  padding: 5px 0px;
}

section.flight-reservation {
  padding: 0% 5%;
  text-align: center;
  margin: 5px;
}

section.flight-reservation div {
  margin: 10px 0px;
}

section.flight-reservation select,
section.flight-reservation input {
  width: 70%;
}

section.flight-reservation input[type=submit],
section.flight-reservation input[type=reset] {
  align-self: flex-end;
  width: 80px;
}

section.flight-reservation label {
  width: 25%;
  display: inline-block;
  text-align: right;
}

@media screen and (max-width: 700px) {
  div.page-container {
    grid-template-columns: 100%;
    grid-template-areas: "menu" "main" "problems" "footer";
  }
  img.city-photo {
    display: none;
  }
  main.main-content {
    min-height: 0px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
  div.page-container {
    grid-template-columns: calc(75% - 11.5px) 15px calc(25% - 3.5px);
    grid-template-areas: "menu menu menu" "main . problems" "footer footer footer";
  }
}

@media screen and (max-width: 1024px) {
  div.page-container {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  body {
    font-size: 12px;
  }
  aside.menu {
    width: 100%;
    padding-left: 0px;
  }
  aside.menu h2 {
    display: none;
  }
  aside.menu ul {
    padding-inline-start: 0px;
  }
  aside.menu li {
    display: inline-block;
    padding: 2px;
  }
  section.flight-reservation {
    padding: 0px;
  }
  ul.passengers-list {
    width: 80%;
  }
  img.plane {
    width: 80%;
  }
  dl.airplane-description-list>dd {
    margin-top: -15px;
  }
}

@media screen and (min-width: 3000px) {
  body {
    width: 3000px;
    margin: auto;
  }
}

div.reservation-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: gray;
  background-color: rgba(120, 120, 120, 0.9);
}

section.reservation-modal-section {
  background-color: white;
  width: 50vw;
  height: 50vh;
  margin: 25vh auto;
  border: 2px black solid;
}
